<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="../../../css/index.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a id="top" href="/"><button class="btnT">cancel</button></a>
    <div class="login-wrapper" style="padding: 65px 19px">
      <h1>Login</h1>
      <p><%= msg %></p>
      <form action="/login" method="post">
        <p>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username"
            required
          />
        </p>
        <p>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            required
          />
        </p>
        <p>
          <input type="submit" value="Login" id="btn" />
        </p>
      </form>
      <!-- <a href="register"><button id="btn">Not a user yet?</button></a> -->
      <p class="redirect-register-text">
        Don't have a account?<a href="register"><span> Register</span></a>
      </p>
    </div>
  </body>
</html>
