<html>
  <head>
    <link rel="stylesheet" href="../../../css/index.css" type="text/css" />
  </head>
  <body>
    <div class="content">
      <h1>Verify Email</h1>
      <p id="error"><%= msg %></p>
      <form action="/send-email" method="post">
        <input type="text" name="email" placeholder="Email" />
        <div class="rpx"></div>
        <input type="submit" id="btn-snd" value="Send verification Email" />
      </form>
    </div>
  </body>
</html>
