<!--make me a 404 page with basic css-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>404</title>
    <link rel="stylesheet" href="../../../css/ver.css" />
  </head>
  <body>
    <div class="error-boddy">
      <div id="error-page">
        <div class="error-content">
          <h2 class="header" data-text="Verify Email">Verify Email</h2>
          <br />
          <input type="text" />
          <p><%= msg %></p>
          <div class="btns">
            <a href="/">Submit</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
