<!--make me a 404 page with basic css-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>verify Email</title>
    <link rel="stylesheet" href="../../../css/ver.css" />
  </head>
  <body>
    <div class="error-boddy">
      <div id="error-page">
        <div class="error-content">
          <h2 class="header" data-text="Verify Email">Verify Email</h2>
          <br />
          <p><%= msg %></p>
          <div class="btns">
            <form action = "/send-email" method = "post">
              <input type="text" name="email" placeholder="Email">
              <input type = "submit" id="submit" value = "verify">
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
