@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background-color: rgb(114, 103, 239);
  height: 80%;
  display: grid;
}

#btn {
  font-size: 20px;
  background-color: rgb(114, 103, 239);
  border: none;
  color: white;
  border-radius: 5px;
  height: 50px;
  width: 90%;
  transition: 0.5s;
}

#btn:hover {
  background-color: rgb(97, 88, 203);
  cursor: pointer;
}
/*center .checkbox-container both verticaly and horizontal*/
.content {
  color: rgb(6, 6, 6);
  padding: 40px;
  text-align: center;
  margin: auto;
  width: 40%;
  height: auto;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 53px -2px rgba(0, 0, 0, 0.486);
  -webkit-box-shadow: 0px 0px 53px -2px rgba(0, 0, 0, 0.486);
  -moz-box-shadow: 0px 0px 53px -2px rgba(0, 0, 0, 0.486);
}
.content:hover {
  transform: scale(1.01);
  transition: all 0.3s;
}

input[type="text"],
[type="password"],
#textarea,
#textareaA {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

#textarea,
#textareaA {
  height: 100px;
  min-height: 100px;
  resize: vertical;
}

#textareaMain {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  height: 100px;
  min-height: 100px;
  resize: none;
}

hr {
  height: 3px;
  background-color: rgb(114, 103, 239);
  border: none;
}

#toTop {
  position: absolute;
  top: 5px;
  left: 5px;
  text-align: left;
}

.btnT {
  font-size: 25px;
  background-color: rgb(114, 103, 239);
  border: solid 1px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  transition: 0.5s;
  margin: 10px 0 0 10px;
  transition: 0.5s;
}
.btnT:hover {
  background-color: rgb(97, 88, 203);
  cursor: pointer;
}

#btn-scnd {
  font-size: 15px;
  background-color: rgb(114, 103, 239);
  border: none;
  color: white;
  border-radius: 5px;
  height: 50px;
  width: 130px;
  transition: 0.5s;
}

#btn-snd {
  font-size: 15px;
  background-color: rgb(114, 103, 239);
  border: none;
  color: white;
  border-radius: 5px;
  height: 50px;
  width: 200px;
  transition: 0.1s;
}

#btn-scnd:hover,
#btn-snd:hover {
  background-color: rgb(97, 88, 203);
  color: white;
  cursor: pointer;
}

#btnE {
  font-size: 20px;
  background-color: rgb(114, 103, 239);
  border: none;
  color: white;
  border-radius: 5px;
  height: 50px;
  transition: 0.5s;
  margin-bottom: 25px;
}

#btnE:hover {
  background-color: rgb(97, 88, 203);
  cursor: pointer;
}

#comment {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  height: 60px;
  resize: vertical;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.ask-button-container {
  margin-top: 20px;
  padding: 5px;
}
.post-textarea > textarea {
  text-align: center;
  width: 60%;
  padding: 45px;
}
.postcard-title > h1 {
  font-weight: bold !important;
}
.login-wrapper {
  color: rgb(6, 6, 6);
  text-align: center;
  margin: auto;
  width: 25%;
  height: auto;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 53px -2px rgba(0, 0, 0, 0.486);
  -webkit-box-shadow: 0px 0px 53px -2px rgba(0, 0, 0, 0.486);
  -moz-box-shadow: 0px 0px 53px -2px rgba(0, 0, 0, 0.486);
}
.redirect-register-text,
.redirect-login-text {
  font-weight: 200;
  font-family: "Source Sans Pro", sans-serif;
}
.redirect-register-text a,
.redirect-login-text a {
  text-decoration: none;
  color: red;
}
.register-wrapper {
  color: rgb(6, 6, 6);
  text-align: center;
  margin: auto;
  width: 25%;
  height: auto;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 53px -2px rgba(0, 0, 0, 0.486);
  -webkit-box-shadow: 0px 0px 53px -2px rgba(0, 0, 0, 0.486);
  -moz-box-shadow: 0px 0px 53px -2px rgba(0, 0, 0, 0.486);
}
.template-wrapper {
  color: rgb(6, 6, 6);
  text-align: center;
  margin: auto;
  width: 25%;
  height: auto;
  background-color: rgb(255, 255, 255);
  padding: 95px 59px;
  border-radius: 10px;
  box-shadow: 0px 0px 53px -2px rgba(0, 0, 0, 0.486);
  -webkit-box-shadow: 0px 0px 53px -2px rgba(0, 0, 0, 0.486);
  -moz-box-shadow: 0px 0px 53px -2px rgba(0, 0, 0, 0.486);
}

.create-post-wrapper {
  color: rgb(6, 6, 6);
  text-align: center;
  margin: auto;
  width: 25%;
  height: auto;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 53px -2px rgba(0, 0, 0, 0.486);
  -webkit-box-shadow: 0px 0px 53px -2px rgba(0, 0, 0, 0.486);
  -moz-box-shadow: 0px 0px 53px -2px rgba(0, 0, 0, 0.486);
}
.create-post-wrapper:hover,
.login-wrapper:hover,
.register-wrapper:hover,
.template-wrapper:hover,
.panel-wrapper:hover {
  transform: scale(1.01);
  transition: all 0.3s;
}
.create-post-wrapper div {
  color: black;
  font-size: 14px;
}

.checkbox-container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel-wrapper {
  color: rgb(6, 6, 6);
  padding: 40px;
  text-align: center;
  margin: auto;
  width: 40%;
  height: auto;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 53px -2px rgba(0, 0, 0, 0.486);
  -webkit-box-shadow: 0px 0px 53px -2px rgba(0, 0, 0, 0.486);
  -moz-box-shadow: 0px 0px 53px -2px rgba(0, 0, 0, 0.486);
}