<!--make me a 404 page with basic css-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Search Users</title>
    <link rel="stylesheet" href="../../../../css/ver.css" />
    <link res="stylesheet" href="../../../../css/profile.css" />
  </head>
  <body>
    <div class="error-boddy">
      <div id="error-page">
        <div class="error-content">
          <h2 class="header" data-text="Search Users">Search Users</h2>
          <br />
          <p><%= msg %></p>
          <div class="btns">
            <div>
                <div class="container">
                    <div class="user-image">
                        <img src="<&= profileImage %>"
                        alt="this image contains user-image">
                    </div>
             
                    <div class="content">
                        <h3 class="name">Geeks-For-Geeks</h3>
             
             
                        <p class="details">
                            A Computer Science portal for geeks
                        </p>
             
             
                        <a class="effect effect-4" href="#">
                            Message
                        </a>
                    </div>
                </div>
                 
                <!-- This is link of adding small images
                     which are used in the link section  -->
                <script src="https://kit.fontawesome.com/704ff50790.js"
                    crossorigin="anonymous">
                </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
