<!--make me a 404 page with basic css-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="../../css/404.css">
</head>
<body>
    <a id="top" href="/"><button id = "btn">go back to main page</button></a>
    <h1>404</h1>
</body>
</html>