<!--make me a 404 page with basic css-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>404</title>
    <link rel="stylesheet" href="../../css/404.css" />
  </head>
  <body>
    <div class="error-boddy">
      <div id="error-page">
        <div class="error-content">
          <h2 class="header" data-text="404">404</h2>
          <h4 data-text="Opps! Page not found">Oops! Page not found</h4>
          <p>
            Sorry, the page you're looking for doesn't exist. If you think
            something is broken, report a problem.
          </p>
          <div class="btns">
            <a href="/">Return Home</a>
            <a href="/report">Report a problem</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  
</html>
