<html>
  <head>
    <link rel="stylesheet" href="../../css/index.css" />
  </head>
  <body>
    <a id="top" href="/"><button class="btnT">Cancel</button></a>
    <div class="create-post-wrapper" style="padding: 65px 19px">
      <p><%= msg %></p>
      <h1>Ask a public question</h1>

      <form
        method="post"
        action="/createpost"
        class="postinfo"
        style="text-align: center"
      >
        <div>
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Title"
            autocomplete="off"
            required
          />
        </div>
        <div>
          <textarea
            type="text"
            name="body"
            id="textarea"
            placeholder="Question"
            required
          ></textarea>
        </div>
        <div style="margin: 15px auto">
          <label class="checkbox-container"
            >Answer your own question?
            <input type="checkbox" name="answerc" id="checkbox" />
            <span class="checkmark"></span>
          </label>
        </div>
        <div>
          <textarea
            name="answer"
            id="textareaA"
            placeholder="Write your answer here"
            style="display: none"
          ></textarea>
        </div>
        <div>
          <input type="submit" value="Submit" id="btn" />
        </div>
      </form>
    </div>
  </body>
  <script>
    var checkbox = document.getElementById("checkbox");
    var textarea = document.getElementById("textareaA");
    var text = document.getElementById("hiddenT");
    checkbox.addEventListener("change", function () {
      if (this.checked) {
        textarea.style.display = "inline";
        text.style.display = "block";
      } else {
        textarea.style.display = "none";
        text.style.display = "none";
      }
    });
  </script>
</html>
