<html>
    <head>
        <link rel="stylesheet" href="../../css/index.css">
    </head>
    <body>
        <a id="top" href="/login"><button id = "btnT">login</button></a>
        <a id="user" href="/panel"><button>Logged in as <%= username %></button></a>
        
        <div class="content">
            <a id="top" href="/createpost"><button id = "btnE">ask a question</button></a>
            <h1>Welcome to stack æ</h1>
            <p>new posts:</p>
            <div class="posts">
               
        </div>
    </body>
</html>