<html>
  <head>
    <link rel="stylesheet" href="../../css/index.css" />
  </head>
  <body>
    <div class="header">
      <div>
        <a id="top" href="/login"><button class="btnT">login</button></a>
      </div>
      <div>
        <a id="user" href="/panel"
          ><button class="btnT">Logged in as <%= username %></button></a
        >
      </div>
    </div>

    <div class="content">
      <div class="postcard-title"><h1>Welcome to Stack æ</h1></div>
      <div class="post-textarea">
        <textarea placeholder="Something on your mind...?" id = "textareaMain"></textarea>
      </div>
      <div class="ask-button-container">
        <a id="top" href="/createpost">
          <button id="btnE">Ask a question</button>
        </a>
      </div>
    </div>
  </body>
</html>
