<!--make me a 404 page with basic css-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Report problem</title>
    <link rel="stylesheet" href="../../../css/ver.css" />
  </head>
  <body>
    <div class="error-boddy">
      <div id="error-page">
        <div class="error-content">
          <h2 class="header" data-text="Report problem">Report problem</h2>
          <br />
          <p><%= msg %></p>
          <div class="btns">
            <form action = "/report" method = "post">
              <input type="text" name="report" placeholder="Report">
              <input type = "submit" id="submit" value = "Report problem">
              <a href="/">return home</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
