<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<title><%= title %></title>
<link rel="stylesheet" href="../../css/index.css">
</head>
<body>

<header>
<a id="top" href="/"><button id = "btnT">go back to main page</button></a>
</header>

<main>
    <%- include('../partials/main'); %>
</main>


</body>
</html>