<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>comments for <%= title %></title>
    <link rel="stylesheet" href="../../css/index.css" />
  </head>
  <body>
    <header>
      <a id="top" href="<%= title %>"><button class="btnT">go back to post</button></a>
    </header>
    <main>
      <%- include('../partials/comments'); %>
    </main>
  </body>
</html>
